

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>back</title>
</head>
<body>
    <h1>suhail khan 23*23</h1>
    <!-- <h2> <%= 32*8%></h2> -->
    <!-- <h3><%= "suhail khan "toUppercase();%></h3> -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas cumque suscipit ullam fuga ea numquam molestias provident explicabo dicta nesciunt molestiae totam assumenda harum adipisci, dolor mollitia architecto quaerat exercitationem et? Facilis nostrum asperiores et fuga blanditiis repudiandae voluptatum quidem nisi autem, ipsa iste rem magni maxime molestiae ratione?</p>
    <button>click me</button>
</body>  
</html>